<template>
    <div>
        <my-form-page
            title="添加角色"
            back-url="/roles"
            submit-url="/roles"
            :config="config"
        />
    </div>

</template>

<script>
import MyFormPage from '../components/MyFormPage'

export default {
    components: {
        MyFormPage
    },
    data () {
        return {
            config: [
                {
                    prop: 'role',
                    label: '角色',
                    component: 'input',
                    rules: [
                        { required: true, message: '角色不能为空' }
                    ]
                },
                {
                    prop: 'menus',
                    label: '菜单',
                    component: 'tree',
                    data: this.$route.params.menus
                }
            ]
        }
    }
}
</script>