<template>
    <div>
        <my-page
            name="permission"
            fetch-url="/permissions"
            :search-data="[{ title: '权限', name: 'permission' }]"
            :table-data="[
                {name: 'id', title: 'ID'},
                {name: 'permission', title: '权限'},
                {name: 'key', title: '键'},
                {name: 'api_url', title: 'API URL'},
                {name: 'api_method', title: 'API Method'},
                {name: 'created_at', title: '创建时间'}
            ]"
        />
    </div>
</template>

<script>
import MyPage from '../components/MyPage.vue'

export default {
    components: {
        MyPage
    }
}
</script>