<template>
    <div>
        <my-page
            name="role"
            fetch-url="/roles"
            :search-data="[{ title: '角色', name: 'role', type: 'input', operation: 'like' }]"
            :table-data="[
                {name: 'id', title: 'ID'},
                {name: 'role', title: '角色'},
                {name: 'created_at', title: '创建时间'}
            ]"
            :actions="['add', 'update', 'delete']"
            :add-data="['menus']"
        />
    </div>
</template>

<script>
import MyPage from '../components/MyPage'

export default {
    components: {
        MyPage
    }    
}
</script>