<template>
    <div>
        <my-form-page
            title="修改人员"
            back-url="/staff"
            submit-url="/staff"
            detail-url="/staff"
            :config="config"
        />
    </div>

</template>

<script>
import MyFormPage from '../components/MyFormPage'

export default {
    components: {
        MyFormPage
    },
    data () {
        return {
            config: [
                {
                    prop: 'name',
                    label: '姓名',
                    component: 'input',
                    disabled: true
                }, {
                    prop: 'email',
                    label: '邮箱',
                    component: 'input',
                    disabled: true
                }, {
                    prop: 'roles',
                    label: '角色',
                    component: 'select',
                    multiple: true,
                    options: this.$route.params.roles
                }
            ]
        }
    }
}
</script>